<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <nav>

    </nav>
    <section id="date-range-picker">02/06/2023 - 10/06/2023</section>
    <main>
        <div>
            <section id="chart" class="card">
            </section>
            <section id="number-summary" class="card">
                <article>
                    <strong>50</strong> 
                    <p>
                        Produits au total
                    </p>
                </article>
                <article>
                    <strong>10</strong> 
                    <p>
                        Nouveaux produits
                    </p>
                </article>
            </section>
        </div>
        <div>
            <section id="offer" class="card">
                <h2>Offre <em>VIP</em></h2>
                <article id="disk-usage"></article>
                <section>
                    <article>
                        <p>Date d'expiration</p>
                        <p>20/06/2023</p>
                    </article>
                    <article>
                        <p>Dernière sauvegarde</p>
                        <p>02/06/2023 - 15:00</p>
                    </article>
                </section>
            </section>
            <section id="new-products" class="card">
                <h3>Nouveaux<br> produits</h3>
                <section>
                    <article class="product-item">
                        <img src="products/1.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                    <article class="product-item">
                        <img src="products/2.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                    <article class="product-item">
                        <img src="products/3.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                    <article class="product-item">
                        <img src="products/4.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                    <article class="product-item">
                        <img src="products/5.jpg" alt="product-image">
                        <div>
                        <h5>Trousse</h5>
                        <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                    <article class="product-item">
                        <img src="products/1.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                </section>
            </section>
            <section id="out-of-stock-products" class="card">
                <h3>Produits en <br> rupture de stock</h3>
                <section>
                    <article class="product-item">
                        <img src="products/1.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                    <article class="product-item">
                        <img src="products/2.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                    <article class="product-item">
                        <img src="products/3.jpg" alt="product-image">
                        <div>
                            <h5>Trousse</h5>
                            <span class="price">5 000 MGA</span>
                        </div>
                    </article>
                </section>
            </section>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>