<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./asset/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="content-left">
        <h1>Inscription</h1>
        <div class="content-info">
            <div class="info">
                <div class="input-box">
                    <div class="input-label">
                        <i class="icon fa fa-building"></i>
                        <input type="text" name="nom_entreprise" required="">
                        <label>Nom de l'entreprise</label>  
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-label">
                        <i class="icon fa fa-scale-balanced"></i>
                        <input type="number" name="nif" required="">
                        <label>NIF</label>
                    </div>
                </div>
                <div class="input-box">
                    <div class="input-label">
                        <i class="icon fa fa-scale-balanced"></i>
                        <input type="number" name="STAT" required="">
                        <label>STAT</label>
                    </div>
                </div>     
                <div class="input-box">
                    <div class="input-label">
                        <i class="icon fa fa-phone"></i>
                        <input type="tel" name="phone" required="">
                        <label>Telephone</label>
                    </div>
                </div>           
            </div>
            <div class="insertimg">
                <div class="drag-file">
                    <p>Inserer votre logo</p>
                </div>
                <label class="uploadbtn">
                    <input type="file" name="logo" required="">
                    Choisir le fichier
                </label>
            </div>
        </div>
        <div class="other">
            
            <div class="input-box">
                <div class="input-label">
                    <i class="icon fa fa-envelope"></i>
                    <input type="email" name="email" required="">
                    <label>Email</label>
                </div>
            </div>
            <div class="input-box">
                <div class="input-label">
                    <i class="icon fa fa-location-dot"></i>
                    <input type="text" name="localisation" required="">
                    <label>Localisation</label>
                </div>
            </div>
            <div class="input-box">
                <div class="input-label">
                    <i class="icon fa fa-user"></i>
                    <input type="text" name="proprio" required="">
                    <label>Propriétaire</label>
                </div>
            </div>
            <div class="input-box">
                <div class="input-label">
                    <i class="icon fa fa-lock"></i>
                    <input type="password" name="mot_de_passe" required="">
                    <label>Mot de passe</label> 
                </div>
            </div>
        </div>
        <div class="offer">
            <div class="register-listoffer">
                <label for="offer-select">Veuillez selectionnez une offre </label>               
            </div>
            <div class="register-offer">
                <select name="offre" required="" id="offer-select" >
                    <option value="1">Pack Plus</option>
                    <option value="2">Pack Pro</option>
                </select>
                <a href="#">En savoir plus?</a>
            </div>
        </div>
        <div class="btn">
            <button class="btnoutline">S'inscrire</button>
        </div>
        
    </div>
    <div class="content-right">
        <img src="./asset/img/black.png" alt="Logo" class="Logo">
        <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aspernatur adipisci architecto reprehenderit aut possimus sint natus placeat delectus</label>
        <img src="./asset/img/logiciel-planification-projet-pour-gestion-projets-entreprise-mode_31965-62879.avif" alt="illustration" class="illustration">
    </div>
</body>
</html>