<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Setting</title>
    <link rel="stylesheet" href="./asset/css/setting.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <section class="info-setting">
        <form action="">
            <div class="head-info">
                <div class="image-content">
                    <img src="./asset/img/wayne entreprise.jpeg" alt="Logo entreprise">
                    <label for="file-input" class="file-label">
                        <input type="file" id="file-input" name="">
                        <i class="fa fa-edit"></i>
                      </label>
                </div>
                
                <div class="input-box">
                    <div class="input-label">
                        <i class="icon fa fa-building"></i>
                        <input type="text" name="nom_entreprise" required="" value="Wayne entreprise">
                        <label>Nom de l'entreprise</label>  
                    </div>
                </div>
            </div>
            <div class="body-info">
                <div class="body-left">
                    <div class="input-box">
                        <div class="input-label">
                            <i class="icon fa fa-lock"></i>
                            <input type="password" name="mot_de_passe" required="" value="Value of password">
                            <label>Mot de passe</label> 
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-label">
                            <i class="icon fa fa-scale-balanced"></i>
                            <input type="number" name="nif" required="" value="280498092803984083">
                            <label>NIF</label>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-label">
                            <i class="icon fa fa-hashtag"></i>
                            <input type="number" name="STAT" required="" value="3143098049850938">
                            <label>STAT</label>
                        </div>
                    </div>  
                    <div class="input-box">
                        <div class="input-label">
                            <i class="icon fa fa-envelope"></i>
                            <input type="email" name="email" required="" value="wayne@corps.com">
                            <label>Email</label>
                        </div>
                    </div>
                </div>
                <div class="body-right">
                    <div class="input-box">
                        <div class="input-label">
                            <i class="icon fa fa-phone"></i>
                            <input type="tel" name="phone" required="" value="03554545484">
                            <label>Telephone</label>
                        </div>
                    </div>  
                    <div class="input-box">
                        <div class="input-label">
                            <i class="icon fa fa-location-dot"></i>
                            <input type="text" name="localisation" required="" value="Gotam City">
                            <label>Localisation</label>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-label">
                            <i class="icon fa fa-user"></i>
                            <input type="text" name="proprio" required="" value="Bruce Wayne">
                            <label>Propriétaire</label>
                        </div>
                    </div>
                </div>
                 
            </div>
            <div class="btn">
                <button class="black-btn" type="rest">Reinitialiser</button>
                <button class="primary-btn" type="submit">Enregistrer</button>
            </div>
        </form>
    </section>
    <section class="offres">
        <h1>Offres</h1>
        <div class="card-offre" id="plus">
            <div class="card-offre-header">
              <img src="./asset/img/price-tag.png" alt="">
              <strong>Pack Plus</strong>
            </div>
            <p>Vous aurez</p>
            <div class="offer-avantage">
                <div class="listoffer">
                <i class="fa fa-circle-check"></i><p>20 utilisateurs</p>
                </div>
                <div class="listoffer">
                <i class="fa fa-circle-check"></i><p>20 utilisateurs</p>
                </div>
                <div class="listoffer">
                <i class="fa fa-circle-check"></i><p>20 utilisateurs</p>
                </div>
            </div>
            <div class="pricing">
                <p><strong>50$</strong>/mois</p>
            </div>
        </div>
    </section>
    <section class="delete-profile">
        <form action="">
           <h1>Suppression de compte</h1>
            <p>Avant de supprimer votre compte sur la plateforme de gestion de stock en ligne, assurez-vous d'avoir sauvegardé toutes vos données et d'avoir pris les mesures nécessaires pour transférer les informations importantes vers une autre plateforme ou un système de stockage sécurisé, afin d'éviter la perte définitive de vos précieuses données commerciales.</p>
            <div class="btn">
                <button class="black-btn">Sauvegarder mes données</button>
                <button class="delete-btn">supprimer</button>
            </div> 
        </form>
        
    </section>
</body>
</html>